
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Order Confirmed";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="container" style="text-align: center; padding: 4rem 1rem;">
    <h2 class="section-title">Cảm ơn bạn đã đặt hàng!</h2>
    <p>Đã đặt hàng của bạn thành công.</p>
    <p>ID đặt hàng của bạn là: <strong>@ViewBag.OrderId</strong></p>
    <br />
    <a href="@Url.Action("Index", "Home")" class="btn checkout-btn">Tiếp tục mua sắm</a>
</div>

