@model NhomProject.Models.Order

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-5">
    @Html.Partial("~/Views/Shared/_PVOrderItems.cshtml", Model)

    <div class="mt-4">
        <a href="@Url.Action("OrderHistory", "Home")" class="btn btn-outline-primary">
            <i class="fas fa-arrow-left"></i> Quay lại lịch sử mua hàng
        </a>
    </div>
</div>