@model NhomProject.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chỉnh sửa sản phẩm</h2>

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ProductId)

    @Html.Partial("PVCreateEditProduct", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}